body {
    background-color: rgb(172, 198, 207);
    font-family: cursive;
}

.rounded {
    float: right;

    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.container {
    width: 70%;
    margin: auto;
    border: 3px;
    padding: 20px;
    border-radius: 50%;
}

p {
    text-align: justify;
    font-size: medium;
}

.navbar {
    background-color: black;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    positin: sticky;
    top: 0;
}